<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156714686968-1bbs4fa85h2cg4ou3t6u9ud8n5bs35ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156714686968-1bbs4fa85h2cg4ou3t6u9ud8n5bs35ke</string>
	<key>API_KEY</key>
	<string>AIzaSyBUmVA4tIdnBsrLZV5vTILKKADfGMqacYc</string>
	<key>GCM_SENDER_ID</key>
	<string>156714686968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbpessacash.user</string>
	<key>PROJECT_ID</key>
	<string>cash-55a07</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-55a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156714686968:ios:b1a3d7a68a6e16dae19e0d</string>
</dict>
</plist>